{% extends "layout_admin.html" %}
{% block title %} Delete a movie {% endblock %}

{% block content %}
		{% if error %}
    	<p class=error><strong>Error:</strong> {{ error }}
  		{% endif %}

		<style type="text/css">
		.margintop15{
		margin-top: 15px;
					}
		.marginleft100{
		margin-left: 40px;
					}
		
		

</style>
<form action="#" method="post">
	<div class="row margintop15">
		<div class="col-md-12" align=center>
			<table class="table-black">
				<div class="col-md-1 marginleft100">
				<p></p><h5>Delete a movie </h5>
				</div>
				<tr>
					<td>
					<label><b>Title: </b></label>
					</td>
					<td>
 					<input type="text" name="ttd"/>
					</td>
				</tr>
				</table>
			<div class="col-md-1 marginleft100 margintop15">
				<p><input type="submit" value="Search"/></p>
				</div>
</form>
{% endblock %}	