{% extends "layout_admin.html" %}
{% block title %} Find a movie to update {% endblock %}

{% block content %}
		{% if error %}
    	<p class=error><strong>Error:</strong> {{ error }}
  		{% endif %}

		<style type="text/css">
		.margintop15{
		margin-top: 15px;
					}
		.marginleft100{
		margin-left: 130px;
					}
		.valuetd{
		width:150px;
				}
		.valuetdd{
			line-height:140px;
			width:150px;
		}
		

</style>
<form action="#" method="post">
	<div class="row margintop15">
		<div class="col-md-12" align=center>
			<table class="table-black">
				<div class="col-md-1 marginleft100">
				<p></p><h5>Find a movie to update </h5>
				</div>
				<tr>
					<td>
					<label><b>Title: </b></label>
					</td>
					<td>
 					<input class= "valuetd" type="text" name="fmvtupd"/>
					</td>
				</tr>
				<tr>
					<td>
					<label><b>Year of realease: </b></label>
					</td>
					<td>
					<input class = "valuetd" type="text" name="fmvyorupd"/>	
					</td>
				</tr>
			</table>
			<div class="col-md-1 marginleft100 margintop15">
				<p><input type="submit" value="submit"/></p>
				</div>
</form>
{% endblock %}	